#calendar th,
#calendar td {
  width: 14.28%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#calendar td:hover {
  background-color: #f0f8ff;
}

.calendar-wrap {
  margin-top: 20px;
}

.head-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

#calendarheader {
  background-color: #000000;
  color: #2ff29e;
}

.elegant-calencar {
  background-color: #1f1f1f;
  color: white;
}